body {
    background-image: linear-gradient(#55ACEE, white 10%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

/* heading */
img {
    width: 50px;
    vertical-align: middle;
}

h1 {
    text-align: center;
}

/* Topic container */
.contents_title {
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.list_container {
    float: right;
    position: sticky;
    top: 1em;
    width: 20%;
    border: 5px solid #55ACEE;
    padding: 10px;
    background-color: white;
}

/* content */
.contents {
    max-width: 80%;
    font-family: 'Poppins', 'Sarabun', sans-serif;
}

.vertical-line {
    border-left: 20px solid black;
    height: 50px;
    position: absolute;
    left: 0px;
    display: inline;
}

h2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    display: inline;
    padding-left: 2%;
}

.frame {
    right: 5%;
    width: 80%;
    margin: auto;
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 10px;
}

h3 {
    margin-left: 1em;
}

p {
    margin-left: 2em;
}

.example {
    color: #3B5998;
    margin-left: 3em;
    margin-right: 3em;
    background-color: white;
    padding-left: 2%;
}