body {
    background-image: linear-gradient(#55ACEE 5%, white 90%);
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

/* heading */
h1 {
    text-align: center;
    color: black;
}