body {
    font-family: 'Poppins', sans-serif;
}

/* heading */
img {
    width: 50px;
    vertical-align: middle;
}

h1 {
    text-align: center;
    margin-top: 80px;
}

/* Topic container */
.contents_title {
    text-align: center;
    font-size: large;
    font-weight: 500;
    color: white;
}

.contents_title_js {
    text-align: center;
    font-size: large;
    font-weight: 500;
    color: #654321;
}

.contents_list a {
    padding: 5px 10px 10px 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.contents_list_js a {
    padding: 5px 10px 10px 10px;
    font-size: 14px;
    color: #654321;
    text-decoration: none;
}

.contents_list a:hover {
    color: black;
}

.list_container {
    position: fixed;
    top: 10%;
    width: 20%;
    right: 0;
    border-radius: 10px 0px 0px 10px;
    -webkit-box-shadow: 0 10px 6px -6px #D0D0D0;
    -moz-box-shadow: 0 10px 6px -6px #D0D0D0;
    box-shadow: 0 10px 6px -6px #D0D0D0;
    padding: 10px;
    background-color: #55ACEE;
}

.list_container_js {
    position: fixed;
    top: 10%;
    width: 20%;
    right: 0;
    border-radius: 10px 0px 0px 10px;
    -webkit-box-shadow: 0 10px 6px -6px #D0D0D0;
    -moz-box-shadow: 0 10px 6px -6px #D0D0D0;
    box-shadow: 0 10px 6px -6px #D0D0D0;
    padding: 10px;
    background-color: #FED300;
}

/* content */
.contents {
    max-width: 80%;
    font-family: 'Poppins', 'Sarabun', sans-serif;
}

.vertical-line {
    border-left: 20px solid black;
    height: 50px;
    position: absolute;
    left: 0px;
    display: inline;
}

h2 {
    text-align: center;
    vertical-align: middle;
    line-height: 50px; 
    display: inline;
    padding-left: 2%;
}

.frame {
    right: 5%;
    width: 80%;
    margin: auto;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 10px;
}

h3 {
    margin-top: 20px;
    margin-left: 1em;
}

p {
    margin-left: 2em;
}

.example {
    color: #3B5998;
    margin-left: 3em;
    margin-right: 3em;
    background-color: white;
    padding-left: 2%;
}

div.example {
    box-shadow: 5px 5px #D3D3D3;
}